header{
 background-image: linear-gradient(
    30deg, 
    rgb(208, 245, 233) 0%,
    rgb(156, 238, 212) 50%,
    rgb(156, 238, 212) 55%, 
    rgb(208, 245, 233) 100% 
  );
 text-align: center;
 font-size: 30px;
 margin-top: -8px;
 margin-left: -8px;
 width:100%;
 padding-right:16px;
}
img{
height:30%;
width: 30%;
margin-bottom: -7px;
}
button{
border: 1px solid black;
background-color: white;
margin-left:5px;
}
button:hover{
background-color:gray;
}